@tailwind base;
@tailwind components;
@tailwind utilities;

.Carousel-root {
    height: 500px !important;

}
.slide img{
    height: 300px !important;
    object-fit: cover;
}
.thumbs-wrapper {
    display: none !important;
}

.discount-image {
 width: 30% !important;
}
@media screen and (max-width: 640px) {
    .discount-image {
      width: 100% !important;  /* Adjust the width for small devices */
      height: auto;
    }
}
body{
    color: rgb(189, 29, 181) !important;
background-color: black !important;
}


