@tailwind base;
@tailwind components;
@tailwind utilities;

.Carousel-root {
    height: 700px !important;

}
.slide img{
    height: 400px !important;
    object-fit: cover;
}
.thumbs-wrapper {
    display: none !important;
}
.active{
    border-bottom: 2px solid red !important;
}

.discount-image {
 width: 30% !important;
}
@media screen and (max-width: 640px) {
    .discount-image {
      width: 100% !important;  /* Adjust the width for small devices */
      height: auto;
    }
}
body{
    /* color: rgb(189, 29, 181) !important; */
    color: lightseagreen !important;
/* background-color:black !important; */
width: 100% !important;
}


